html {
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  box-sizing: border-box;
}

ul, p, h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $fsNormal;
  line-height: 1.4;
}

.ut-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}